.back_link {
  margin: 20px 0;
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 100px;
  transition: transform 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.back_link:hover,
.back_link:active {
  transform: scale(1.05);
}

.back_svg {
  fill: white;
  stroke: white;
}
